  @import url('https://fonts.googleapis.com/css2?family=Grandstander:wght@500&display=swap');

.game{
  height: 100%;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: 'Grandstander', cursive;
  vertical-align: middle;
}

.bg{
  left: 0%;
  top: 0%;
  width: 100vw;
  height: 100%;
  object-fit: cover;
  z-index: -100;
  position: absolute;
}

.top-txts h1{
  font-size: 50px;
  margin-bottom: 0%;
}

.top-txts p{
  margin-top: 5px;
}

.turn{
  font-family: 'Grandstander', cursive;
  font-size: 22px;
  margin-top: 20px;
  margin-bottom: 40px;
  color: black;
  background-color: white;
  border-style: solid;
  border: none;
  padding: 10px;
  border-radius: 10px;
}

.grid {
  display: inline-grid;
  grid-template-columns: auto auto auto;
  margin: 0, auto;
}

.box {
  background-color: #011739ee;
  border: 7px solid rgba(186, 214, 252, 0.932);
  padding: 20px;
  width: 6vw;
  height: 6vw;
  left: 50%;
  text-align: center;
}

.box-click {
  background-color: #011739ee;
  padding: 20px;
  width: 6vw;
  height: 6vw;
  left: 50%;
  text-align: center;
}

.circle {
  width: 5.1vw;
  padding-top: 8px;
}

.btn{
  font-family: 'Grandstander', cursive;
  font-size: 22px;
  margin-top: 20px;
  margin-bottom: 40px;
  color: black;
  background-color: white;
  border-style: solid;
  border: solid 3px rgb(173, 173, 173);
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.btn:hover{
  cursor: pointer;
  transform: scale(1.05);
  transition: 100ms ease-in-out;
}

.results{
  margin-top: 30px;
  font-size: 20px;
}

#box-1 {
  margin: 0;
  border-top: none;
  border-left: none;
}
#box-2 {
  border-top: none;
  border-left: none;
}
#box-3 {
  border-top: none;
  border-right: none;
  border-left: none;
}
#box-4 {
  border-top: none;
  border-left: none;
}
#box-5 {
  border-top: none;
  border-left: none;
}

#box-6 {
  border-top: none;
  border-left: none;
  border-right: none;
}

#box-7 {
  border-top: none;
  border-left: none;
  border-bottom: none;
}
#box-8 {
  border-top: none;
  border-left: none;
  border-bottom: none;
}

#box-9 {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: none;
}

.footer {
  width: 100%;
  position: fixed;
  bottom: 0%;
  text-align: center;
  background-color: rgb(0, 0, 32);
}

.footer h1 {
  font-size: 15px;
}
.footer a{
  color: white;
}

@media (max-width: 900px) {
  
  .box {
    width: 15vw;
    height: 15vw;
  }
  
  .box-click {
    width: 15vw;
    height: 15vw;
  }
  
  .circle {
    width: 15vw;
    padding-top: 0px;
  }
  }



@media (max-width: 768px) {
  
.box {
  width: 15vw;
  height: 15vw;
}

.box-click {
  width: 15vw;
  height: 15vw;
}

.circle {
  width: 15vw;
  padding-top: 0px;
}
}